*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}

body {
    font-family: 'Rubik', sans-serif;
    color: rgb(16,21,25);
}

main {
    min-height: 100vh;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}